<div class="deck_browse">
    <h3>Personal Deck</h3>
    <br/>
    <table id="browseDeckTable" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-6">Name</th>
                <th class="col-md-5"> Qty. in Deck </th>
             </tr>
        </thead>
        <tbody>
                <tr ng-repeat="card in myData">
                    <td class="col-md-1">{{$index +1}}</td>
                    <td class="col-md-6">{{card.name}}</td>
                    <td class="col-md-5">
                        <button ng-click="decrementDeck(card.id)"> - </button>
                        {{card.count}}
                        <button ng-click="incrementDeck(card.id)"> + </button>
                    </td>
                </tr>
        </tbody>
    </table>

    <div id="my_error" ng-hide="result == 'Success!'">{{ result }}</div>
    <button id="clear_deck" ng-click="clearDeck()">Clear Deck</button>

    <br><br>

    <table>
        <tr valign="top"><td align="center">
    <h4>Personal Deck Composition by Color</h4>
    <table id="colorSpreadTable" class="table table-striped table-bordered table-hover" style="max-width: 200px;">
        <thead>
            <tr>
                <th class="col-md-1">Color</th>
                <th class="col-md-6">% of Deck</th>
             </tr>
        </thead>
        <tbody>
                <tr color="black">
                    <td class="col-md-1">Black</td>
                    <td class="col-md-6">{{myColors.Black}}</td>
                </tr>
                <tr span style="color: blue;">
                    <td class="col-md-1">Blue</td>
                    <td class="col-md-6">{{myColors.Blue}}</td>
                </tr>
                <tr span style="color: green;">
                    <td class="col-md-1">Green</td>
                    <td class="col-md-6">{{myColors.Green}}</td>
                </tr>
                <tr span style="color: red;">
                    <td class="col-md-1">Red</td>
                    <td class="col-md-6">{{myColors.Red}}</td>
                </tr>
                <tr span style="color: white;">
                    <td class="col-md-1">White</td>
                    <td class="col-md-6">{{myColors.White}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Colorless</td>
                    <td class="col-md-6">{{myColors.Colorless}}</td>
                </tr>
        </tbody>
    </table>
</td><td width="50"></td><td align="center">
    <h4>Personal Deck Composition by Type</h4>
    <table id="colorSpreadTable" class="table table-striped table-bordered table-hover" style="max-width: 200px;">
        <thead>
            <tr>
                <th class="col-md-1">Type</th>
                <th class="col-md-6">% of Deck</th>
             </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="col-md-1">Artifact</td>
                    <td class="col-md-6">{{myTypes.Artifact}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Creature</td>
                    <td class="col-md-6">{{myTypes.Creature}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Enchantment</td>
                    <td class="col-md-6">{{myTypes.Enchantment}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Instant</td>
                    <td class="col-md-6">{{myTypes.Instant}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Land</td>
                    <td class="col-md-6">{{myTypes.Land}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Planeswalker</td>
                    <td class="col-md-6">{{myTypes.Planeswalker}}</td>
                </tr>
                <tr>
                    <td class="col-md-1">Sorcery</td>
                    <td class="col-md-6">{{myTypes.Sorcery}}</td>
                </tr>
        </tbody>
    </table>
        </td></tr>
        </table>
</div>