<div class="deck_browse">
    <h3>Personal Deck</h3>
    <br/>
    <table id="browseDeckTable" class="table table-fixed">
        <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-6">Name</th>
                <th class="col-md-5"> Qty. in Deck </th>
             </tr>
        </thead>
        <tbody>
                <tr ng-repeat="card in myData">
                    <td class="col-md-1">{{$index +1}}</td>
                    <td class="col-md-6">{{card.name}}</td>
                    <td class="col-md-5">
                        <button ng-click="decrementDeck(card.id)"> - </button>
                        {{card.count}}
                        <button ng-click="incrementDeck(card.id)"> + </button>
                    </td>
                </tr>
        </tbody>
    </table>
    <div id="my_error" ng-hide="result == 'Success!'">{{ result }}</div>
</div>