<h3>Magic:The Gathering Card Search</h3>
<div class="browseCardsTable" ng-controller="PaginationCtrl">
<table id="card_browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mana Cost</th>
            <th>Converted Mana Cost</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Power</th>
            <th>Toughness</th>
         </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Mana Cost</th>
            <th>Converted Mana Cost</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Power</th>
            <th>Toughness</th>
         </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="card in filteredCards">
            <td>{{card.name}}</td>
            <td>{{card.mana_cost}}</td>
            <td>{{card.cmc}}</td>
            <td>{{card.type}}</td>
            <td>{{card.rarity}}</td>
            <td>{{card.power}}</td>
            <td>{{card.toughness}}</td>
        </tr>
    </tbody>
</table>
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
</div>