<div class="browseCardsTable">
    <h3>Create a User Account</h3>
    <br/>
    <div style="max-width: 500px;">
        <form class="form" ng-submit="submit()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" required placeholder="Username"
                       id="username" ng-change="check_all_fields()">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password1" required placeholder="Password"
                       id="password1" ng-change="check_all_fields()">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password2" required
                       placeholder="Repeat Password"
                       id="password2" ng-change="check_all_fields()">{{ pwd_message }}
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="first_name" required placeholder="First Name"
                       id="first_name" ng-change="check_all_fields()">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="last_name" required placeholder="Last Name"
                       id="last_name" ng-change="check_all_fields()">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" ng-model="email" required placeholder="Email Address"
                       id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-change="check_all_fields()">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="signup" ng-disabled="myButton">Sign Up</button>
                <div id="my_error">{{ result }}</div>
            </div>
        </form>
    </div>

</div>
</div>